
// @mixin hide {
//   /*visibility: hidden;*/
//   visibility: collapse;
//   /*display: none;*/
// }

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  background: transparent;
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// .noshow {
//   display: none;
//   visibility: collapse;
// }

#editor-layout {
  width: 100%;
  height: 100%;
}

#editor-content {
  width: 100%;
  height: 100%;
}

#c {
  position: relative;
  border: 1px solid #BBBBBB;
  box-shadow: 2px 2px 2px #d7d7d7;
}

.editor-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#drawing-content {
  width: 100%;
  height: calc(100% - #{$toolbar-height} - #{$statusbar-height} - 2px);
  background: transparent;
}

#drawing-container {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/grid.png") repeat;
}

#loading-spinner {
  position:absolute;
  bottom: 32px;
  left: 170px;
  z-index: 95;
}

.floating-button {
  width: 140px;
  z-index: 5;
  bottom: 30px;

  > img {
    position: relative;
    top: -3px;
    left: -3px;
  }
}

/* Dialogs */

.editor-dialog {
  width: 400px;
  height: auto;
}

#import-file-dialog-dropzone {
  width: 100%;
  height: 100%;
  line-height: 200px;
  border: 4px dashed #ccc;
  border-radius: 2px;
  text-align: center;
}

/* Property table */

.property-table {
	font-family: "Lucida Sans Unicode",	"Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
  width: 100%;
  height: 100%;
}

.property-table th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;  
}

.property-table td {
	border-bottom: 1px solid #ccc;
  color: #669;
  margin: 0px;
	padding: 9px 8px 0px 8px; 
  vertical-align: text-bottom; 
}

.property-table tbody tr:hover td {
  color: #009;
}

.property-table input, textarea {
  border: none;
  width: 100%;
  &:focus {
    outline: none;
    border-bottom: 2px solid #6600cc;
  }
}

#ted-status-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $statusbar-height;
  background-color: $statusbar-background-color;
  color: $statusbar-color;
  font-family: "Lucida Sans Unicode",	"Lucida Grande", Sans-Serif;
  font-size: 12px;
  border-top: 1px solid $statusbar-border-top-color;
  border-bottom: 1px solid $statusbar-border-bottom-color;
}

.ted-status-area {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  align-items: center;
}

#ted-status-left {
  text-align: left;
  margin-left: 8px;
}

#ted-status-middle {
  text-align: center;
  margin-left: 4px;
}

#ted-status-right {
  text-align: right;
  margin-right: 8px;
}