
/*---- Toolbar ----*/

#ted-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: calc(100% - 8px);
  margin: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-top: 1px solid $toolbar-border-top-color;
  border-left: 1px solid $toolbar-border-top-color;
  border-right: 1px solid $toolbar-border-top-color;
  border-bottom: 1px solid $toolbar-border-bottom-color;
  background-color: $toolbar-background-color;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  z-index: 5;  
}

/*
 *  Don't display toolbar sections by default
 */
.ted-toolbar-section {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;  
  margin: 0px;
  padding: 0px
}

/*
 *  Fixed tools section is always displayed
 */
#ted-fixed-tools {
  display: flex;
}

/*
.active-tools-group {
  float: left;
}
*/

.ted-toolbar-tool {
  flex: 0 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  overflow: hidden;

  &:hover {
    border: none;
    background-color: $toolbar-hover-color;
  }

  &:active {
    border: none;
    background-color: $toolbar-active-color;
  }

  &:focus {
    border: none;
    background-color: $toolbar-focus-color;
  }
}

.ted-toolbar-widget {
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow: hidden;
  background-color: transparent;
}

.ted-toolbar-menu-down {
  margin-left: -6px;
  padding: 0;
  border: 0;
}

.ted-toolbar-tool-select {
  height: 20px;
  .ted-toolbar-select-text {
    font-size: 12px;
  }

  .ted-toolbar-menu-down {
    margin-left: 5px;
  }
}

.ted-toolbar-separator {
  height: $toolbar-separator-height;
  width: 1px;
  border-left: 1px solid $toolbar-separator-color;
  margin-left: 3px;
  margin-right: 2px;
  padding: 0px;
}

.toolbar-text-input {
  float: left;
  width: 28px;
  height: 18px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  margin-top: 1px;

  &:focus {
    background-color: white;
    border: 1px solid #0096FD;
  }
}

/*
.toolbar-item-active {
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 2px #b1b1b1 inset;
  background-color: #e9e7e7;
  border: 1px solid #CCCCCC;

  &:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #b1b1b1 inset;
  }

  &:active {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #b1b1b1 inset;
  }
}
*/

/* ----- Font tools ----- */

#ted-current-font {
  width: 100px;
}

#ted-current-font-size {
  width: 50px;
}

/*---- Toolbar menus ----*/

.ted-toolbar-menu {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  /*justify-content: center;*/
  margin: 0px;
  padding: 6px 0;
  position: absolute;
  outline: none;
  background-color: $toolbar-menu-background-color;
  color: $toolbar-menu-color;
  z-index: 1000;
  border-radius: 0px;
  border: 1px solid $toolbar-menu-border-color;
  box-shadow: 1px 1px 2px $toolbar-menu-shadow-color;
  max-height: 300px;
  text-align: left;
  overflow: hidden;
}

.ted-menu-item {
  border: 0px;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
  list-style: none;
  border-bottom: 0px solid $toolbar-menu-border-color;

  &:hover {
    background-color: $toolbar-menu-hover-color;
    cursor: pointer;
  }
}

.ted-menu-item-icon {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

.ted-menu-item-label {
  margin: 0px;
  padding: 0px;
}

.ted-menu-separator {
  border-top: 1px solid $toolbar-border-top-color;
  width: 100%;
}

.scrolling {
  overflow-y: scroll;

  // Always show scrollbar
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    &:vertical {
      width: 11px;
    }
    &:horizontal {
      height: 11px;
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #FAFAFA; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }
  &::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 8px;
  }
}

.submenu-item-selected {
  background-image: url("../images/ic_check_black_12dp.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}

.submenu-item-highlight {
  background-color: #eee;
  border-color: #eee;
  border-style: dotted;
  border-width: 1px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.submenu-icon {
  width: 15px;
  height: 15px;
  padding-left: 12px;
  padding-right: 8px;
  padding-bottom: 3px;
}

/* --- effects submenu --- */

#effects-box {
  margin: 10px;

  .fx-options {
    display: none;
  }

  .mdl-switch {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
  }

  .mdl-switch__label {
    font-size: 14px;
  }

  .slider-container {
    margin-bottom: 10px;
  }

  .effects-form-label {
    margin-left: 25px;
  }

  .hex-display {
    margin-top: 2px;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-right: -3px;
    width: 80px;
    height: 27px;
    background-color: #f4f4f4;
    border:1px solid #c8c8c8;
    border-right: 0px;
    padding-bottom: 2px;
    padding-left: 8px;
    color: #6f6d6d;
  }
}

.spectrum-box {
  background-color: #ecebeb;
  border: 1px solid #c8c5c5;
}
