
/* --- Toolbar --- */
#toolbar-container {
  margin: 0px;
  padding: 0px;
  padding-left: 8px;
  padding-right: 8px;
  height: $toolbar-height;
  width: calc(100% - 18px);
  line-height: $toolbar-height;
  border: 1px solid $toolbar-border;
  background-color: $toolbar-background;
  z-index: 5;
}

#toolbar {
  margin: 0px;
  width: 100%;
  height: ($toolbar-height - $toolbar-padding);
  padding-bottom: $toolbar-padding;
}

.toolbar-section {
  height: $toolbar-height;
  float: left;
}

.active-tools-group {
  height: $toolbar-height;
  float: left;
}

.toolbar-separator {
  height: $toolbar-separator-height;
  width: 1px;
  line-height: $toolbar-separator-height;
  border-left: 1px solid $toolbar-border;
  margin-left: 3px;
  margin-right: 2px;
  margin-top: (-$toolbar-padding);
  padding: 0;
  float: left;
  overflow: hidden;
  overflow-x: hidden;
}

.toolbar-button {
  height: $toolbar-button-height;
  line-height: $toolbar-button-height;
  padding: $toolbar-button-padding;
  border-radius: 2px;
  outline: none;
  border: 1px solid transparent;
  font-size: 14px;
  float: left;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  overflow-x: hidden;

  &:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #dadada;
  }

  &:active {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #b7b7b7 inset;
    background-color: #e8e8e8;
    border: 1px solid #cecece;
  }
}

.toolbar-button-box {
  height: $toolbar-button-height;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  text-align: center;
}

.toolbar-item {
  height: $toolbar-button-height;
  width: $toolbar-button-height;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  text-align: left;
  vertical-align: middle;
}

.toolbar-item-dropdown {
  height: $toolbar-button-height;
  width: $toolbar-button-height;
  opacity: 0.8;
  color: #333;
  margin-left: -4px;
  padding: 0;
  border: 0;
  float: left;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
  overflow-x: hidden;
}

.toolbar-text-input {
  float: left;
  width: 28px;
  height: 18px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  margin-top: 1px;

  &:focus {
    background-color: white;
    border: 1px solid #0096FD;
  }
}

.toolbar-item-active {
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 2px #b1b1b1 inset;
  background-color: #e9e7e7;
  border: 1px solid #CCCCCC;

  &:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #b1b1b1 inset;
  }

  &:active {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #b1b1b1 inset;
  }
}

/* ----- Fixed tools ----- */

/*
#toolbar-arrange {
  width: 70px;
  padding-left: 5px;
  font-weight: 400;
  &:hover {
    cursor: default;
  }
}
*/

#toolbar-font-family {
  width: 100px;
  padding-left: 5px;
  font-weight: 400;
  &:hover {
    cursor: default;
  }
  .submenu-item {
    margin-left: 10px;
  }
}

#toolbar-font-size {
  width: 50px;
  padding-left: 5px;
  font-weight: 400;
  &:hover {
    cursor: default;
  }
}

/* --- toolbar submenu --- */

.toolbar-submenu {
  position: absolute;
  background-color: white;
  width: $toolbar-submenu-width;
  top: -100px;
  left: -100px;
  z-index: 5;
  border: 1px solid #b6b5b5;
  color: #5D5D5D;
  box-shadow: 1px 1px 2px #bebebe;
  max-height: 300px;
  text-align: left;
  overflow: hidden;
}

.submenu-separator {
  border-top: 1px solid $toolbar-border;
  width: $toolbar-submenu-width;
  margin-top: 6px;
  margin-bottom: 6px;
}

.scrolling {
  overflow-y: scroll;

  // Always show scrollbar
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    &:vertical {
      width: 11px;
    }
    &:horizontal {
      height: 11px;
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #FAFAFA; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }
  &::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 8px;
  }
}

.submenu-item {
  width: 100%;
  height: 30px;
  border: 0px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 0px solid #979797;
  &:hover {
    background-color: #EAEAEA;
    cursor: pointer;
  }
}

.submenu-item-selected {
  background-image: url("../images/ic_check_black_12dp.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}

.submenu-item-highlight {
  background-color: #eee;
  border-color: #eee;
  border-style: dotted;
  border-width: 1px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.submenu-icon {
  width: 15px;
  height: 15px;
  padding-left: 12px;
  padding-right: 8px;
  padding-bottom: 3px;
}

/* --- effects submenu --- */

#effects-box {
  margin: 10px;

  .fx-options {
    display: none;
  }

  .mdl-switch {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
  }

  .mdl-switch__label {
    font-size: 14px;
  }

  .slider-container {
    margin-bottom: 10px;
  }

  .effects-form-label {
    margin-left: 25px;
  }

  .hex-display {
    margin-top: 2px;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-right: -3px;
    width: 80px;
    height: 27px;
    background-color: #f4f4f4;
    border:1px solid #c8c8c8;
    border-right: 0px;
    padding-bottom: 2px;
    padding-left: 8px;
    color: #6f6d6d;
  }
}

.spectrum-box {
  background-color: #ecebeb;
  border: 1px solid #c8c5c5;
}
