/* --- toolbar colors --- */

$glyph-height: 18px;
$toolbar-button-padding: 3px;
$toolbar-padding: 3px;

$toolbar-button-height: $glyph-height;
$toolbar-height: ($toolbar-button-height + (2 * $toolbar-button-padding) + 2px);
$toolbar-separator-height: ($toolbar-height + (1 * $toolbar-padding));

$toolbar-background: #F2F2F2;
$toolbar-border: #BDBDBD;
$toolbar-submenu-width: 205px;

$statusbar-height: 20px;

@import 'page';
@import 'toolbar';
